{% extends 'base.html.twig' %}

{% block title %}Exercice 6{% endblock %}

{% block body %}
{# Condition si c'est des nombres #}
{% if nbr1 matches '#^[0-9]{1,}$#' and nbr2 matches '#^[0-9]{1,}$#' %}
    {# Test operateur #}
    {% if operateur == 'add' %}
        <p>Le résultat de l'addition est égale à : {{ nbr1 + nbr2 }}</p>
    {% elseif operateur == 'sub' %}
        <p>Le résultat de la soustraction est égale à : {{ nbr1 - nbr2 }}</p>
    {% elseif operateur == 'multi' %}
        <p>Le résultat de la multiplication est égale à : {{ nbr1 * nbr2 }}</p>
    {% elseif operateur == 'div' %}
        {# test si nbr2 est égal à 0 #}
        {% if nbr2 == 0 %}
            <p>La division par zéro est impossible</p>
        {% else %}
            <p>Le résultat de la division est égale à : {{ nbr1 / nbr2 }}</p>
        {% endif %}
    {% else %}
        <p>L'opérateur n'existe pas</p>     
    {% endif %}
{% else %}
    <p>nbr1 et nbr2 ne sont pas des nombres </p>
{% endif %}
{% endblock %}
