<div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <img class="w-full h-auto rounded-t-xl" src="https://via.placeholder.com/120x120.png/00aa33?text=Article" alt="Image Description">
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-gray-800 dark:text-white">
        Card title
      </h3>
      <p class="mt-5 text-xs text-gray-500 dark:text-gray-500">
        10/01/2024
      </p>
    </div>
</div>